{% extends 'books/base.html' %}

{% block title %}
  {{book.title}}
{% endblock title %}



{% block content %}
	<h1>Programming Books</h1>
    <div class="grid">
      <h3> Title <h3>
    </div>

    <form method="POST" action= {% url 'book.review' book.id %}>
      {% csrf_token %}
        <textarea name="review" id="" cols="30" rows="10"></textarea>

        <button type="submit">Submit</button>
    </form>

    <div class="review">
      <h3>Review</h3>
      {% for review in reviews %}
      <p>{{review.body}}</p>
      {% endfor %}
    </div>

    <div class="author">
      <h3>Authors</h3>
      <p>
        {% for author in authors %}
          {{author.name}}, 
        {% endfor %}
      </p>
    </div>
{% endblock  %}
