<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Course</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<h1>Programming Books</h1>
    <div class="grid">
      <h3> Title <h3>
    </div>

    <form method="POST">
      {% csrf_token %}
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <button type="submit">Submit</button>
    </form>
  </body>
</html>